.box {
    width: 90%;
    margin: 0 auto;
    /* padding-top: 15px; */
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgb(0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .box {
        flex-direction: row;
    }
}


.title {
    font-size: 2em;
    text-align: center;
    color: #fffbfb;
}

.inputBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}